* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --default-border-radius: 4px;
    --border-radius-medium: 8px;
    --color-primary: #D33396;
    --color-logos: #164B60;
    --color-primary-dark: #337ac2;
    --color-primary-variant: #F0F0F0;
    --color-primary-variant-dark: #b10b71;
    --color-error: rgb(245, 76, 76);
    --color-success: rgb(53, 184, 107);
    --color-primary-variant-light: #d3339621;

    --color-secondary: White;
    --color-on-secondary: #464646;
    --surface-color: #F5F5F5;
    --surface-variant-color: #ffffff;
    --surface-dark-color: #e0e0e0;


    --big-2-font: 28px;
    --big-font: 24px;
    --average-font: 20px;
    --medium-font: 16px;
    --medium-2-font: 18px;
    --medium-small: 14px;
    --small-font: 12px;
}


h1, h2, h3, h4{
    margin: 1em 0;
    color: var(--color-on-secondary);
    font-weight: bold;
}

h1{
    font-size: var(--big-2-font);
}
h2{
    font-size: var(--big-font);
}
h3{
    font-size: var(--average-font);
}
h4{
    font-size: var(--medium-font);
}




.page{
    max-width: 1280px;
    margin: auto;
    padding: 0 24px;
}

p, input, a {
    color: var(--color-on-secondary);
    font-size: var(--medium-font);
    line-height: 1.7rem;
}

p{
    margin: 1em 0;
    font-size: var(--medium-font);
}

a{
    text-decoration: none;
}







header{
    height: 60px;
    background-color: #D33396;
    position: sticky;
    top: 0;
}


header h2{
    color: white;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;

}

.navbar  a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    border-bottom: 2px solid white;
}













/* ---------------------- support ------------------- */

.support h2{
    text-align: center;
}

.support h3{
    text-align: center;
}


.support .supported-platform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 4rem 0;
}


.support .supported-platform img{
    display: block;
    margin: auto;
}






/* ---------------------- description --------- */

.description {
    margin-top: 3rem;
}
.description h3{
    text-align: center;
}

.description .instructions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}


.description .features{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: center;
}

.description .features .box{
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 30px;
    border-radius: 8px;
    padding: 1rem 8px;

}




/* ------------------ footer -------------- */

footer .copyright{
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 4rem;
    text-align: center;
}







/* loader  */












.main-hero .third {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-top: 2rem;

}


.search-input {
    width: 240px;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: var(--small-font);
}

.download-button {
    padding: 10px 16px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
}

.download-button:hover {
    background-color: var(--color-logos);
    transform: translateY(-0.1rem);
    box-shadow: 0px 4px 10px rgba(20, 138, 255, 0.3);
}


.support {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.support .f-text {

    color: var(--color-on-secondary);
}

.support .f-heading h3 {
    color: var(--color-logos);
}


.support .supported-platform {
    display: flex;
    gap: 2rem;

}

.support .supported-platform img {
    width: 155px;
    height: auto;
}

.support .s-text {
    display: contents;

}

/* =================================discription section starts here ================================ */


.discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    gap: 1.5rem;
    padding-top: 5.5rem;
}


.discription .s-heading h3 {
    font-size: var(--big-2-font);
    color: var(--color-logos);
}


.discription .discription-text p {
    font-size: var(--medium-small);
    line-height: 1.5rem;

}


.instuctions {
    display: flex;
    flex-direction: row;
    gap: 5rem;

}

.instuctions h4 {
    padding: 0.5rem;
    color: var(--color-logos);
}

.instuctions p {
    padding-left: 2rem;
    font-size: var(--medium-small);
}


/* =======================================================function css starts here============================ */


.function {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3.5rem;
    margin-top: 4rem;
    row-gap: 1.5rem;
}

.function .box {
    width: 16rem;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
    column-gap: 1rem;

}

.function .box h4 {
    color: var(--color-logos);
}

.function .box p {
    font-size: var(--medium-small);
}

/* ======================================================footer section css starts here------------------- */



footer {
   
    /* border-top: 4px solid var(--color-primary-variant); */
    /* min-height: 400px; */
    background-color: var(--color-on-secondary);
}

.footer-parent {
    max-width: var(--max-page-width);
    margin: auto;
    border: 2px solid var(--color-secondary);
    border-left-color: transparent !important;
    width: 24px;
    height: 24px;
    animation: spin89345 1s linear infinite;
    border-radius: 50%;
}



@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


