* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


:root {
    --default-border-radius: 4px;
    --border-radius-medium: 8px;
    --color-primary: #D33396;
    --color-logos: #164B60;
    --color-primary-dark: #337ac2;
    --color-primary-variant: #F0F0F0;
    --color-primary-variant-dark: #b10b71;
    --color-error: rgb(245, 76, 76);
    --color-success: rgb(53, 184, 107);
    --color-primary-variant-light: #d3339621;

    --color-secondary: White;
    --color-on-secondary: #464646;
    --surface-color: #F5F5F5;
    --surface-variant-color: #ffffff;
    --surface-dark-color: #e0e0e0;


    --big-2-font: 28px;
    --big-font: 24px;
    --average-font: 20px;
    --medium-font: 16px;
    --medium-2-font: 18px;
    --medium-small: 14px;
    --small-font: 12px;
}


h1, h2, h3, h4{
    margin: 1em 0;
    color: var(--color-on-secondary);
    font-weight: bold;
}

h1{
    font-size: var(--big-2-font);
}
h2{
    font-size: var(--big-font);
}
h3{
    font-size: var(--average-font);
}
h4{
    font-size: var(--medium-font);
}




.page{
    max-width: 1280px;
    margin: auto;
    padding: 0 24px;
}

p, input, a {
    color: var(--color-on-secondary);
    font-size: var(--medium-font);
    line-height: 1.7rem;
}







.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 5rem;
    background-color: #D33396;
    padding: 2rem;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;


}

.navbar ul li a {
    text-decoration: none;
    color: white;

    font-size: var(--average-font);
    font-weight: 700;
}

.navbar ul li a:hover {
    border-bottom: 2px solid white;
}


.support h2{
    text-align: center;
}

.support h3{
    text-align: center;
}
